h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:#978E77;
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: #978E77; 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}

fieldset { 
  align: center;
  display: block;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

.message{
  position: absolute;
  z-index: 9;
  display: none;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #D9585C;
  color: #fff;
  text-align: center;
  &:after{
    content:'';
    position: absolute;
    top: -10px;
    left: 50%;
    display: block;
    margin-left: -10px;
    border: solid;
    border-color: #D9585C transparent #D9585C;
    border-width: 0 10px 10px;
  }
}